/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .demo {
    @apply text-base;

    table& {
      border-spacing: 0;
      @apply text-black border-gray-300 border-t border-l font-sans;
      @apply dark:text-white dark:border-gray-400;

      & tr {
        @apply bg-transparent dark:bg-transparent;
      }

      & th,
      & td {
        @apply border-gray-300 m-0 p-1.5 border-b border-r;
        @apply dark:border-gray-400;
      }
    }

    button& {
      @apply text-black bg-gray-200 disabled:opacity-30;
      @apply dark:bg-gray-500 dark:text-white;
      @apply p-1.5 border border-gray-300 rounded-lg;
    }

    input&,
    select& {
      @apply p-1.5 border border-gray-300 rounded-lg;
      @apply dark:bg-gray-800 dark:text-white;
    }
  }
}

.hljs {
  &-built_in {
    @apply text-primary;
  }
  &-string {
    @apply text-red;
  }
  &-literal {
    @apply text-purple;
  }
  &-attr {
    @apply font-bold;
  }
  &-params {
    @apply italic;
  }
}

.prose {
  --tw-prose-secondary: var(--kd-color-secondary);
  code {
    &::before,
    &::after {
      content: '';
    }
  }
}
