/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.hljs {
  &-built_in {
    @apply text-brand;
  }
  &-string {
    @apply text-red-400;
  }
  &-literal {
    @apply text-purple-400;
  }
  &-attr {
    @apply font-bold;
  }
  &-params {
    @apply italic;
  }
}

